<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Angular</title>
</head>
<body ng-controller="userController">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div>
                My name is {{user.name}}.<br>
                I am {{user.age}} years old.<br>
                I live in {{user.city}}, {{user.country}}.<br>
                I work as {{input}} now, but I want to become a {{user.profession}}.
            </div>
        </div>
        <div class="col-xs-2">
            <label class="sr-only" for="usertext">Profession:</label>
            <input class="form-control" ng-model="input" id="usertext" type="text">
        </div>
        <div class="col-xs-12">
            <ol class="media-list">
                <li class="media" ng-repeat="dish in dishes">{{dish.name}} {{dish.price}}</li>
            </ol>
        </div>
    </div>
</div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>